.spell_container .status				{color:#f00; white-space:nowrap;}
.spell_container .control_panel	{}
.suggestion_box		{background-color:#f5f5f5; border:2px solid #ccc; position:absolute; padding:1em; margin-top:2em; text-align:left;}
.suggestion_box .suggestion			{cursor:pointer; color:#090; text-decoration:underline;}
.spell_container .corrected_word		{color:#090;}
.spell_container .addtoDictionary	{background-color:#E8F1FF; cursor:pointer; text-decoration:underline; color:#000;}
.spell_container .edit_box			{background-color:#f5fff5; color:#000; border:1px solid #ccc; overflow:auto;}
.spell_container .text_box			{background-color:#f5f5f5; color:#000;}
.spell_container .no_misspellings	{color:#093;}
.spell_container .highlight			{color:#f00; text-decoration:underline; cursor:pointer;}
.spell_container .check_spelling		{color:#06c; text-decoration:underline; cursor:pointer;}
.spell_container .resume_editing		{color:#093; text-decoration:underline; cursor:pointer;}
